@media (max-width: 1850px) {
    .partner-links{
    padding-left: 10%;
    }
}

@media (max-width: 1650px) {
    .box {
        width: 350px;
        height:220px;
      }
      .gallery{
        padding:0 0 100px 0; 
    }
    
    .vision-images {
       
        height:400px;
       
      }
    
}

@media (max-width: 1350px) {
    .mission span{
        font-size: 80px;
    }
    .mission-block {
        font-size: 50px;
        height:150px;
    }
    .mission-about {
        padding-left:10%;
        font-size: 30px;
    }
    .vision-about {
        padding-left:10%;
    }
    .partners-about {
        padding-left:10%;
    }
    .IFGF-global-link {
        width:330px;
    }
    
    .IFGF-austin-link {
      
        width:300px;
    }

    
    
    .mission-statement{
        font-size: 25px;
    }
    .arch {
        width:450px;
    }
    
}


@media (max-width: 1050px) {
    #header{
        background-size: cover;
        background-position: 20% center;
    }
    .mission-block {
        height: 250px;
    }
    .mission-about h1{
        font-size: 60px;
       }
    .mission-statement {
        font-size: 24px;
    }
    .partner-links{
        padding-left: 5%;
       
        }
    .arch {
        width:370px;
    }

    .IFGF-global-link {
        width:290px;
    }
    
    .IFGF-austin-link {
      
        width:270px;
    }

    
  


}

@media (max-width: 900px) {
    nav .fas {
        display:block;
        font-size: 25px;
        color: white;
        z-index: 1;
        cursor:pointer;
      }

    nav ul{
        background-color:rgb(0, 0, 0);
        position:fixed;
        top:0;
        right:-200px;
        width:200px;
        flex-direction: column;
        height:100vh;
        padding-top:50px;
        z-index: 2;
        transition:0.5s;
      }

      nav ul li{
        display:block;
        margin:25px;
        z-index: 50;
      }
    
      nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer;
      }

      #header{
        /*background-color: rgba(0, 0, 0, 0.9); */
       
     
        height:100vh;
        background-size: cover; /* Adjusted property */

        
    }
    

      .welcome{
        text-align: center;
        font-size: 50px;
  
      }

      .mission-block {
        font-size: 40px;
        height: 200px;
    }

      .mission span{
        font-size: 60px;
       
    }

   
    .service-block {
        flex-direction: column;
    }



    .location-asterik{
        width:380px;
    }

    form input, form textarea, .btn {
        max-width:460px;
    }

    .contact-left {
        padding-left:0px;
        line-height: 40px;
        flex-basis:50%;
        text-align: center;
       }

    .contact-right form {
        margin-left: auto;
        margin-right: auto;
       
       }

       .arch {
        width:350px;
       
    }

    .service-left h2 {
        font-size: 30px;
    }

    .service-left p {
        font-size: 20px;
    }


    footer {
        flex-direction: column;
        height:700px;
    }



       .logo-footer{
        padding-top:50px;
      
    }


       /*ABOUT-------------------------------------------------------*/


       .top-banner{
        text-align: center;
        font-size: 50px;
        
        padding-top: 0px;
        height:500px;
        color:white;
        background-image: url("https://www.shortform.com/blog/wp-content/uploads/2020/10/jeannette-walls-family-glass-castle-scaled.jpg");
        background-size: cover;
        background-position: center bottom 50% ;
    }   

    .bold-letter{
        color: white; /* Set the color for the first letter of each span */
        font-size: 60px;
        font-weight: bold;
    }


       .mission-about {
        padding-left:5%;
        
        font-size: 30px;
    }

    .vision-about{
        
        padding-left:5%;
    }

   

       .mission-statement {
        width:480px;
        font-size: 25px;
    }



   

       .partner-links{
        flex-direction: column;
        
    }

    .team-pfps{
        flex-direction: column;
    }

    .team-block{
        height:fit-content;
    }

       .partners-about {
        
        
        padding-left:5%;
       }

       .IFGF-global-link {
        padding-left:0px;
        width:250px;
    }

        .IFGF-austin-link {
            padding-top: 30px;
            padding-left:0px;
            width:250px;
        }

        /*350 220*/
    
       /* COMMUNITY */
       .modal-content {

        
        width: 100%;

      }
    }

    

    @media (max-width: 600px) {
        

        #header{
           
            height:100vh;
            background-size: cover; /* Adjusted property */
      
        }

        .fa.fa-angle-down{
            left:46%;
            
        }
        

        .service-info {
            width:400px;
            padding-bottom:50px;
        }

  

        .mission-block {
            font-size: 40px;
            height: 320px;
        }

        .mission-statement {
            max-width:90%;
            font-size: 22px;
        }

        .vision-images {
            padding-top: 40px;
            width:95%;
            
          }

          .community-gallery {
            padding-left:0 !important;;
     
        }

        .prayer-description{
            font-size: 22px;
        }

   
    }


    @media (max-width: 480px) {
  

        #header{
     
            height:100vh;
            background-size: cover; /* Adjusted property */
            
        }

        .welcome{
            font-size: 55px;
        }

        .small-welcome{
            font-size: 70px;
            padding-left: 0%;
        }

        .location-asterik{
            width:380px;
        }

        form input, form textarea, .btn {
            max-width:300px;
        }

        
    
    }
  
