*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.logo{
    width:160px;
    cursor: pointer;
    align-items: left;
}

.active {
    /* Add your active link styles here */

    color: rgb(59, 156, 247); /* For example, use a different color to highlight */
}

#header{
    /*background-color: rgba(0, 0, 0, 0.9); */
   
   
    height:100vh;
    background-size: 100%; /* Adjusted property */
    background-position: 90% 70%;
    background-repeat: no-repeat;
}

.index-header {
  
    transition: background-image 0.5s;
}
  
  .about-header {
    height:0 !important;
  }

.container {
    padding: 10px 0%;
    padding-right: 2%;
    background-color: rgba(0, 0, 0, 0.2);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top:20px;
    
}

.give-link {
    background-color:none;
    color: rgb(59, 156, 247);
    display: inline-block;
    padding: 8px 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 21px;
    border: 2px solid rgb(59, 156, 247);
    border-radius: 4px;
    font-weight:bold ;
    transition: background-color 0.1s, color 0.1s;
}

.give-link:hover,
.give-link:hover {
    background-color: rgb(59, 156, 247);
    color: white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
   }

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 21px;
    transition: color 0.1s;
}

nav ul li a:hover{
    color:rgb(59, 156, 247);

}

nav .fas {
    display:none;
   }

   .fas.fa-bars {
    position: fixed;
    top: 45px;
    right: 35px;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    padding: 7px;
    transition:0.3s;
  }

  .fas.fa-bars:hover {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
  }
  

main {
    position: relative;
    width: 100%;
    height: fit-content;
}

.fa.fa-angle-down{
    position:absolute;
    font-size: 60px;
    color:white;
    background-color: rgba(0, 0, 0, 0.0);
    bottom:4%;
    left:50%;
    border: none;
    width:100px;
    height:auto;
    cursor: pointer;
}

.arrow-btn{
    position:absolute;
    font-size: 60px;
    color:white;
    background-color: rgba(0, 0, 0, 0.0);

    border: none;
    width:100px;
    height:auto;
  }



  .down-arrow {
    color:white;
    bottom:2%;
    left:46%;
    padding-right: 15px;
    
  }
  
 

.welcome-block {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.mission-block {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding-top: 8%;
    background-color: white;
    width: 100%;
    height: 200px;
    font-size: 60px;
    color: black;
    
}

.mission {
   
    text-align: center;
}

.mission span{
    font-size: 110px;
    font-weight: bold;
}


.service-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 700px;
    font-size: 30px;
    color: black;
}

.service-left {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
s
.location-asterik {
    font-size: 10px;
}
.contact-us-link {
    text-decoration: none;
    color:rgb(59, 156, 247);
}

.contact-us-link:hover {
    color:rgb(26, 114, 196);
}

.service-info {
    width:500px;
    padding-bottom:50px;
}

.service-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arch {
    width:550px;
    height:auto;
}

.prayer-block{
    height:fit-content;
    padding-top: 50px;
}

.prayer-request{
    width:100%;
    height:auto;
    
}

.prayer-description{
    text-align: center;
    font-size: 30px;
    width:70%;
    padding-left:15%;
    padding-top: 60px;
    padding-bottom:100px;
}



.event-block {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: rgb(218, 217, 217);
    width: 100%;
    height: 200px;
    font-size: 50px;
    color: black;
    text-align: center;
    
}

footer {
    
    display: flex;
 flex-direction: row;
  position: relative;
  justify-content: center;
    padding-top: 60px;
    width:100%;
    height:500px;
    color:rgb(153, 152, 152);
    text-align: center;
    word-spacing: 2px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer p{
    text-align: left;
}

.footer-info {
    margin-bottom:30px;
}

.logo-footer{
    padding-top:50px;
    width:200px;
}

.contact-left {
    padding-left: 10%;
    line-height: 40px;
    flex-basis:50%;
    text-align: left;
   }

   .contact-left a {
    text-decoration: none;
}

.facebook-link{
    color:rgb(165, 163, 163);
    font-size: 100px;
}


   .connect-with-us{
    color:rgb(59, 156, 247);
    font-size: 40px;
   }
   
   .contact-right {
    flex-basis:50%;
   }

footer h3{
    color:white;
}

.contact-right form {
    display: flex;
    width:fit-content;
    flex-direction: column;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
   
   }
   
   
   form input, form textarea {
    width: 500px !important;
 
    
    border:0;
    outline: none;
    background: #ffffff;
    padding:15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius:15px;
    border: 2px solid rgb(59, 156, 247);
    border-color:rgb(59, 156, 247);
    box-sizing: border-box;
   }
   
   .btn {
    color: white;
    
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(59, 156, 247);
    border: 1px solid rgb(47, 140, 228);
    border-radius: 10px;
    width: 500px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   
   .btn:hover {
    background-color: rgb(22, 113, 197);
   }
   
   .btn:active {
    background-color: rgb(10, 86, 156);
   }
